#header {
	display: flex;
	background: #ff6600;
	padding: 20px;
	align-items: center;
}

#headerTitle {
	font-weight: bold;
	font-size: 24px;
}

.headerIcon {
	padding: 3px;
	height: 30px;
	border: 1px solid black;
	margin-right: 3px;
	color: white;
}

#content {
	margin: 20px;
	padding: 20px;
}

#content > div {
	margin: 20px;
	padding: 20px;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#idInfo {
	margin-top: 10px;
	margin-left: 10px;
	color: #a6a6a6e0;
	font-weight: lighter;
}
